@font-face {
    font-family: "nimbus-rides";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/nimbus-rides-n4.woff2") format("woff2");
}
@font-face {
    font-family: "nimbus-rides";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/nimbus-rides-n7.woff2") format("woff2");
}
